.App {
  text-align: center;
  min-height: 100vh;
  height: max-content;
  background: rgb(254,204,62);
  background: linear-gradient(180deg, rgba(254,204,62,0.4374124649859944) 0%, rgba(254,104,6,0.7175245098039216) 100%);  
}





